#box1{
    border:3px solid red;
    height:100px;
    width:100px;
    padding:20px 20px;
    margin:20px 20px;
    display:inline-block;

}

#box2
{
    border:3px solid brown;
    height:100px;
    width:100px;
    padding:20px 20px;
    margin:20px 20px;
    display:inline-block;


}
#box3
{
    border:3px solid yellow;
    height:100px;
    width:100px;
    padding:20px 20px;
    margin:20px 20px;
    display:inline-block;


}
#box4
{
    border:3px solid green;
    height:100px;
    width:100px;
    padding:20px 20px;
    margin:20px 20px;
    display:inline-block;
}